<% if user_signed_in? %>
    <% user_rating = Rate.find_by(rateable_id: @movie.id, rater_id: current_user.id) %>
<% end %>


<% average_rating =  RatingCache.find_by(cacheable_id: @movie.id) %>

<br>
<br>
<div class="row"> 
        <div class="col-1">
              <span></span>
        </div>

        <div class="col-6">
          <h2> <%= @movie.title %> </h2>
          <p> <small>2h 31m </small> <small> | </small> <small> 2021 </small> </p>
          
            <article class="media">
              <figure class="media-left">
                <p class="image is-64x64">
                  <img src="https://bulma.io/images/placeholders/128x128.png">
                </p>
              </figure>
              <small> <% @movie.categories.each do | category |%>
                        <%= link_to "#{category.name}", category_path(category) %>
                      <% end %>
              </small>
              <br>
              <p> <%= @movie.description %> </p>
            </article> 
        </div>

        <% if user_signed_in?%>
        <div class="col">
            <p> Your rating 
            <strong> 
              <%= user_rating.nil? ? 0.0 : user_rating.stars %> 
            </strong> 
            </p>
        </div>
        <% end %>


        <div class="col">
            <p>IMDb rating <strong> <%= average_rating.nil?  ? 0.0 : average_rating.avg.round(2) %> </strong>/ 10 
            <%= rating_for @movie, 'rating_value', star: 10, disable_after_rate: false %>
            </p>
        </div>
      
        <div>
        </div>

        <div class="col">
          <span></span>
        </div>
</div>